<div class="section-container">
  <div class="section-header">
    <span class="section-title" data-testid="header-text">{{ headerText }}</span>
    <button (click)="clearInput()" color="primary" data-testid="clear-btn" mat-raised-button>Clear</button>

    @if (options != undefined && options.length > 0) {
      <mat-select [formControl]="selectedOption" data-testid="options-select">
        @for (option of options; track option) {
          <mat-option [value]="option" [attr.data-testid]="'option-' + option">{{ option }}</mat-option>
        }
      </mat-select>
    }
  </div>

  <div class="section-content">
    <textarea [formControl]="input" class="section-textarea scrollable" data-testid="input-textarea"></textarea>
  </div>
</div>
