<div class="section-container">
  <div class="section-header">
    <span class="section-title">Output:</span>
    <div class="options-wrapper">
      <span>Spacing:</span>
      <mat-select [formControl]="spacingControl" data-testid="spacing-select">
        <mat-option data-testid="spacing-option-2" value="2">2 spaces</mat-option>
        <mat-option data-testid="spacing-option-4" value="4">4 spaces</mat-option>
      </mat-select>
      <button (click)="copyToClipboard()" color="primary" data-testid="copy-btn" mat-raised-button>Copy</button>
    </div>
  </div>

  <div class="section-content">
    <mat-card class="scrollable">
      <mat-card-content>
        <textarea highlight-js lang="json">{{ formattedJsonObject }}</textarea>
      </mat-card-content>
    </mat-card>
  </div>
</div>
