.container {
  display: flex;
  height: 100%;
  flex-flow: column;

  .header {
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;

    span {
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      height: 36px;
    }
  }

  .content {
    height: 100%;
    margin-top: 1rem;
  }

  mat-card {
    height: 100%;
    border-radius: 10px;
    border: 1px solid white;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
}
