<ng-form [formGroup]="timeConversionForm">
  <div id="time-converter-header">
    <h1>Input:</h1>
    <button (click)="setCurrentTime()" color="primary" data-testid="current-time-btn" mat-raised-button>Now</button>
    <button (click)="clearInput()" color="warn" data-testid="clear-btn" mat-raised-button>Clear</button>

    <mat-select [formControl]="inputFormat" data-testid="input-format-select">
      @for (option of timeConversionOptions; track option) {
        <mat-option [attr.data-testid]="'option-' + option.split(' ')[0].toLowerCase()" [value]="option">
          {{ option }}
        </mat-option>
      }
    </mat-select>
  </div>

  <mat-form-field>
    <mat-label>Timestamp</mat-label>
    <input data-testid="timestamp-input" formControlName="inputTimestamp" matInput>
  </mat-form-field>

  <h1 class="output-header">Output:</h1>
  <app-output-field [label]="'UTC timezone'" [value]="timeConversionForm.get('utcTime')?.value"></app-output-field>
  <app-output-field [label]="'Local timezone'" [value]="timeConversionForm.get('localTime')?.value"></app-output-field>
  <app-output-field [label]="'ISO 8601'" [value]="timeConversionForm.get('isoTime')?.value"></app-output-field>
  <app-output-field [label]="'Unix time'" [value]="timeConversionForm.get('unixTime')?.value"></app-output-field>
  <app-output-field [label]="'Week of year'" [value]="convertUtcToFormat('w') ?? ''"></app-output-field>
  <app-output-field [label]="'Day of week'" [value]="convertUtcToFormat('cccc') ?? ''"></app-output-field>

  @if (this.timeConversionForm.get("utcTime")?.value != null && this.timeConversionForm.get("utcTime")?.value != "Invalid Date") {
    <h2 data-testid="other-formats-header" class="output-header">Other date formats:</h2>
    @for (format of otherDateFormats; track format) {
      <app-output-field [value]="convertUtcToFormat(format) ?? ''" [label]="format"></app-output-field>
    }
  }
</ng-form>
