<mat-grid-list class="grid-list" cols="2" gutterSize="1rem" rowHeight="fit">
  <mat-grid-tile>
    <div class="grid-tile-content">
      <app-text-area (inputChanged)="setOriginal($event)" data-testid="original-input"
                     headerText="Original:"></app-text-area>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-tile-content">
      <app-text-area (inputChanged)="setUpdated($event)" data-testid="updated-input"
                     headerText="Updated:"></app-text-area>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-card>
      <mat-card-content>
        <cdk-virtual-scroll-viewport [itemSize]="1" class="scrollable" id="output-viewport">
          <span *cdkVirtualFor="let diff of changes" [innerHTML]="diff.text" [ngClass]="diff.className"></span>
        </cdk-virtual-scroll-viewport>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
