@use '@angular/material' as mat;

@include mat.core();

@import './app/styles/colors';

@include mat.all-component-themes($theme-app);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
