@use '@angular/material' as mat;

@include mat.core();

@import './app/styles/colors';

@include mat.all-component-themes($theme-app);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
  background-color: mat.get-theme-color($theme-app, background, card);
  color: mat.get-theme-color($theme-app, foreground, text);
  resize: none;
  border-radius: 10px;
  border: 1px solid white;
  line-height: 1.5rem;
  font-size: 0.875rem;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #249de4;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
}
